.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #77ACA2;
  color: white;
}

.title {
  font-size: 100px;
  font-family: 'Anton', sans-serif;
}

.welcomeText {
  font-size: 22px;
  font-family: 'Crimson Text', serif;
}

.card {
  background-color: #9DBEBB;
  font-family: 'Anton', sans-serif;
  margin: 10px 10px 10px 10px;
  width: 16rem;
}

.modal-body {
  background-color: #9DBEBB;
  color: black;
}

.modal-header {
  background-color: #9DBEBB;
  color: black;
}

.modal-footer {
  background-color: #9DBEBB;
}

.card-body {
  color: black;
}

.form {
  background-color: #9DBEBB;
}

.loggedInAs {
  font-family: 'Anton', sans-serif;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.container, .allMovies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn {
  font-family: 'Anton', sans-serif;
}

.addButtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logButtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.logoutButtns {
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
